* {
  padding: 0;
  margin: 0;
  font-family: "Slabo 13px", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#footer {
  background-color: rgb(9, 9, 9);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px;
  z-index: 1000;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  padding-right: 20px;
  filter: invert(98%) sepia(34%) saturate(3515%) hue-rotate(178deg)
    brightness(109%) contrast(109%);
}

.middleAlign {
  display: flex;
  gap: 20px;
}

.movable {
  position: absolute;
  z-index: 9;
  background-color: rgb(43, 51, 51);
  color: #fff;
  border-radius: 10px;
  /* text-align: center; */
  width: 500px;
  height: 400px;
  display: none;
  top: 121px;
  left: 340px;
}

.photoWindow {
  width: 600px !important;
  height: 500px !important;
}

.movableHeader {
  padding: 10px;
  z-index: 10;
  background-color: rgb(76, 94, 94);
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.control {
  display: flex;
  align-items: center;
  gap: 7px;
}

.minimize {
  width: 15px;
  height: 15px;
  background-color: rgb(224, 157, 106);
  border-radius: 30%;
}

.close {
  width: 15px;
  height: 15px;
  background-color: rgb(193, 95, 95);
  border-radius: 30%;
}

.todoMain {
  margin: 20px 0px 0px 20px;
}

.todoItem {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

/* Hide the actual checkbox */
.todoItem input {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

/* Checkbox container */
.todoItem label {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

/* Custom checkbox */
.todoItem i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
}

/* Checked state */
.todoItem input:checked ~ i {
  top: 0px;
  left: 1px;

  width: 18px;
  height: 9px;

  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
}

/* Todo text */
.todoItem span {
  position: relative;
  margin-left: 15px;
  cursor: text;
  outline: none;
}

/* Strikethrough */
.todoItem span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;

  transform: translateY(-50%) scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

/* When checked */
.todoItem input:checked ~ i + span::before {
  transform: translateY(-50%) scaleX(1);
  transform-origin: left;
}

.todoItem input:checked ~ i + span {
  color: #a2a1a1;
}

/* Add button */
.addTodo {
  padding: 15px 50px;
  background-color: rgb(76, 94, 94);
  border: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.notepadMain {
  width: 100%;
  height: calc(100% - 45px);
}

.notepadText {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  resize: none;
  border: none;
  outline: none;

  background-color: rgb(30, 35, 35);
  color: white;

  padding: 15px;

  font-family: "Slabo 13px", serif;
  font-size: 18px;

  border-radius: 0 0 10px 10px;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.photosMain {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transform: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 8px;
}

.numberText {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.clock {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
